.select-chat{
    align-self: center;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 500px){
    .select-chat{
        max-width: 180px;
    }
}